# Gradle
.gradle/
**/build/
**/out/

# IntelliJ IDEA
**/.idea/
*.iws
*.iml
*.ipr

# Android/Gradle specific
**/local.properties
**/.gradle/
**/build/

# Eclipse
.classpath
.project
.settings/
**/bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Mac OS
.DS_Store

# Rust specific
**/rust/target/
